* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    font-family: 'Momo Trust Display', sans-serif;
    color: #6E868B ;
}

header {
}

main {
    min-height: 100vh;
}

main .row {
    min-height: 100vh;
}

main .row > div {
    min-height: 100vh;
}

section {
    margin: 1rem;
    padding: 1rem;
}

h1{
    margin: 2rem;
    padding: 5rem;
    color: #0C6878;
}


