@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #9DC8CF;
    font-family: 'Momo Trust Display', sans-serif;
    color: #32818F;
    font-weight: normal;
}

h1 {
    transform: translate(865px);
}


.hero {
    width: 88%;
    min-height: 270px;

    margin: 28px auto 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-texto {
    padding-left: 10px;
}

.hero h1 {
    margin-bottom: 8px;

    color: white;
    font-size: 30px;
    line-height: 1.2;
    font-weight: normal;
}

.hero p {
    margin-bottom: 25px;

    color: #2C7E8D;
    font-size: 17px;
    line-height: 1.25;
    font-weight: normal;
}

.hero button {
    padding: 9px 20px;

    background-color: #08758A;
    color: white;

    border: none;
    border-radius: 25px;

    font-family: inherit;
    font-size: 20px;
    
}

section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    color: #075F6E;
    
}

.atalhos2 {
    width: 92%;
    margin: 20px auto;
    padding: 25px;

    background-color: #7DB2BC;
    border-radius: 25px;
}

.Questoes {
    text-align: left;
    margin-bottom: 15px;
}

.Questoes h1 {
    font-size: 28px;
}