* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Momo Trust Display', sans-serif;
    color: #6E868B ;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.container-fluid {
    min-height: 100vh;
    padding: 0;
}

.row {
    min-height: 100vh;
    margin: 0;
}

.col-lg-6 {
    min-height: 100vh;
}

.painel-esquerdo {
    background-color: hsl(191, 100%, 93%);
    padding: 5rem;

    position: relative;
}

.painel-direito {
    background-color: #fff;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario-cadastro {
    width: 100%;
    max-width: 500px;
}
.cabecalho-formulario h2 {
    margin: 0;

    font-size: 25px;
    font-weight: 700;

    color: #126579;
}
.cabecalho-formulario p {
    margin-top: 3px;
    margin-bottom: 30px;

    font-size: 13px;
    font-weight: 600;

    color: #9bb7bd;
}

.campo {
    margin-bottom: 20px;
}
.campo label {
    display: block;

    margin-bottom: 6px;

    font-size: 13px;
    font-weight: 700;

    color: #126579;

}

.btn-primary {
    display: block;

    width: 65%;
    height: 42px;

    margin: 30px auto 15px;

    border: none;
    border-radius: 5px;

    background-color: #08788c;

    color: white;

    font-size: 14px;
    font-weight: 700;

    cursor: pointer;
}

.login-existente {
    text-align: center;

    margin-top: 10px;
}

.login-existente p {
    margin: 0;

    font-size: 12px;

    color: #9bb7bd;
}

.login-existente a {
    color: #08788c;

    font-weight: 700;
}
h1{
    font-size: 2.5em;
    color: #0C6878;
}
h2{
    font-size: 1.4em;
    color: #0C6878;
}

label{
    font-size: 1em;
    color: #0C6878;
}

p{
    font-size:1em;
}

.campo {
    margin-bottom: 1.2em;
}

.campo label {
    display: block;

    margin-bottom: 0.4em;

    color: #126579;

    font-size: 0.85em;
    font-weight: 700;
}

input::placeholder {
    color: #6E868B !important;
}

.campo input:focus {
    border-color: #08788c;
    outline: none;
}   

.imagem-rodape {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 90%;
    height: auto;
}

a {
    color:#126579
}

.conta{
    margin-bottom: 2.5em;
}

.textoConta{
    font-size: 2rem;
}

.entrar{
    text-align: center;
}

.item {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 40px;
}
.icone {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #078b94;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    margin-left: 20px;
    margin-right: 20px;
}

.texto{
    margin-top: 18px;
}

.txtIntrodutorio{
    margin-top: 20px;
    margin-bottom: 30px;
}

.dataNascimento{
    text-align: start;
}

.form-control {
    color: #126579 !important;
} 

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
} 
#alerta-sucesso {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    
    width: 405px;
    min-height: 130px;
    
    z-index: 9999;
    
    margin: 0;
    padding: 25px;
    
    font-size: 16px;
    
    border-radius: 15px;
    
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.btn-primary:hover{
    background-color: #094e5a;
} 

