@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #9bc9d2;
    min-height: 100vh;
    font-family: 'Momo Trust Display', sans-serif;
    font-weight: normal;
    padding: 30px 20px;
}

.pagina-cronograma {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.pagina-cronograma h2 {
    text-align: center;
    color: #056477;
    font-size: 28px;
    font-weight: normal;
    margin-bottom: 12px;
}

.tabela-container {
    width: 100%;
    background-color: #fffdf5;
    border-radius: 7px;
    overflow-x: auto;
    overflow-y: hidden;
}

/* Tabela */
.tabela-cronograma {
    width: 100%;
    min-width: 850px;
    border-collapse: collapse;
    table-layout: fixed;
    background-color: #fffdf5;
}

/* Cabeçalho */
.tabela-cronograma th {
    height: 50px;
    color: #056477;
    font-size: 17px;
    font-weight: bold;
    padding: 10px 6px;
    border-right: 2px solid #087487;
    border-bottom: 2px solid #087487;
    text-align: center;
    vertical-align: middle;
}

.tabela-cronograma th:last-child {
    border-right: none;
}

/* Células */
.tabela-cronograma td {
    min-height: 80px;
    height: 80px;
    padding: 10px;
    color: #056477;
    font-size: 14px;
    line-height: 1.4;
    vertical-align: top;
    border-right: 2px solid #087487;
    border-bottom: 2px solid #087487;

    overflow-wrap: break-word;
    word-wrap: break-word;
}

.tabela-cronograma td:last-child {
    border-right: none;
}

.tabela-cronograma tbody tr:last-child td {
    border-bottom: none;
}

.tabela-cronograma td:focus {
    outline: none;
    background-color: #f4fbfa;
}
.tabela-cronograma td:empty::before {
    content: "";
}
